.hero {
    background-image: linear-gradient(
            to bottom right,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)
        ),
        url('/images/hero.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 0.4em;

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    > * {
        transform: translateY(-0.8em);
    }
}
